@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --main-blue: rgb(4, 99, 104);
  --main-red: rgb(193, 34, 58);
  --main-yellow: rgb(241, 194, 50);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #222222;
}

/* ---------- HEADER OPEN ---------- */

li, a {
  font-weight: 500;
  font-size: 16px;
  color: black;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0 10%;
  background-color: #171717;
}

.logo {
  cursor: pointer;
  color: white;
  letter-spacing: 1.7px;
}

.logo span {
  color: var(--main-blue);
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.nav-links li a {
  font-size: 18px;
  color: white;
  transition: all 0.2s;
  font-weight: 600;
}
.nav-links li a:hover {
  color: var(--main-red)
}

/* ----- HEADER CLOSE ----- */





/* ---------- MAIN OPEN ---------- */

main {
  background-color: var(--main-blue);
  background-image: url(./images/fabric.jpg);
}

main div {
  height: 60vh;
  min-width: 300px;
  border-radius: 10px 10px 0 10px;
}


.container {
  justify-content: center;
  height: 90vh;
  display: grid;
  grid-template-columns: 27% 24% 24% 24%;
  column-gap: 20px;
  padding: 70px 50px 0;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto;
}

.hero {
  display: flex;
  flex-direction: column;
  padding-right: 40px;
  min-width: 350px;
  margin-right: 100px;
}

.hero h3 {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 30px;
  line-height: 60px;
  letter-spacing: 1.2px;
}

.hero p {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 30px;
}

.browse {
  font-weight: 600;
}

.arrow {
  margin-left: 15px;
  font-size: 22px;
}

.breakfast, .lunch, .dinner {
  position: relative;
  background-position: center;
  background-size: cover;
  font-weight: 700;
  letter-spacing: 1px;
  transition: 0.2s all;
  border: 3px solid #171717;
}

.breakfast:hover, .lunch:hover, .dinner:hover {
  transform: translateY(-12px);
  cursor: pointer;
  box-shadow: -10px 10px 0px 0px var(--main-blue);
  border: 3px solid #fff;
}

.breakfast {
  background-image: url(./images/breakfast.jpg);
}

.lunch {
  background-image: url(./images/lunch.jpg);
}

.dinner {
  background-image: url(./images/dinner.jpg);
}


.top-span {
  position: absolute;
  bottom: 50px;
  right: 0;
  background: #171717;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 15px;
  color: white;
}

.bottom-span {
  position: absolute;
  bottom: 0;
  right: 0;
  background: var(--main-red);
  color: white;
  height: 50px;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 15px 0 0;
}
